{% include "header.html" %}
{% include "side_navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<div id="layoutSidenav_content">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Change Password</h3></div>
                                    <div class="card-body">
                                        {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                                <div class="alert alert-danger" role="alert">
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        <form class="form-control" action="" method="post" role="form">
                                            {{ form.hidden_tag() }}
                                            {{ wtf.form_field(form.old_password, class_="form-control") }}
                                            <br>
                                            {{ wtf.form_field(form.new_password, class_="form-control") }}
                                            <br>
                                            {{ wtf.form_field(form.new_password_repeat, class_="form-control") }}
                                            <br>
                                            {{ wtf.form_field(form.submit, class_="form-control btn btn-secondary") }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

{% include "footer.html" %}